* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mozilla Headline", sans-serif;
}

/* მთავარი კონტეინერი */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  background-color: #90EE90;
  position: relative;
}

.fa-basket-shopping {
  position: absolute;
}

.cart {
  position: relative;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  gap: 1rem;
}

.count {
  position: relative;
  top: -10px;
  left: 20px;
  background-color: red;
  color: white;
  font-size: 0.7rem;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: white;
  width: 700px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.search-input:hover {
  box-shadow: 0 0 10px black;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #555;
  pointer-events: none;
  font-size: 1rem;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.glass-button {
  padding: 0.8rem;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.glass-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px white;
  border: 2px solid white;
  background-color: white;
  font-weight: bold;
}

/* Login */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); 
  padding: 2rem;
}

.login-container {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  width: 100%;
  max-width: 460px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
}