* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9fd3c7;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0.8rem;
}

.navbar-content {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.search-form input {
  border: none;
  border-radius: 1rem;
  outline: none;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  width: 600px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cart-link, .auth-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  padding: 0.7rem;
  transition: color 0.3s ease;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.auth-link {
  padding: 1.0rem;
}

.cart-icon-wrapper {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff4d4f;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

.cart-link, .auth-link {
  overflow: hidden;
}

.cart-link::before, .auth-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.9) 50%,
    transparent 100%
  );
  transform: skewX(-25deg);
  transition: left 0.4s ease-in-out;
  z-index: 0;
}

.cart-link:hover::before, .auth-link:hover::before {
  left: 100%;
}

.cart-link:hover, .auth-link:hover {
  color: #000;
  border: 2px solid white;
  border-radius: 6px;
  transition: border-bottom 0.3s ease;
}

.cart-link > *, .auth-link > * {
  position: relative;
  z-index: 1;
}